<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>192 Twitter</title>
    <style type="text/css">…</style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <style type="text/css"></style>
</head>



<section class="section">

<div class="container">
    <div class="notification is-primary">
        <div class="container">
            <h1 class="title">Welcome</h1>
            <h2 class="title">Twitter v192</h2>
            <h3 class="subtitle">A class-approved social media.</h3>
        </div>
        <br>
        <div class="buttons">
            <button class="button is-info is-light"><a href="/login">Create Account or Log In</a></button>
        </div>

    </div>
</div>
</section>

</body>
</html>